
body {
  color: #333;
}

.instants {
  width: 190px;
  margin: 0 auto 25px;
}

.button-background {
  width: 188px;
  height: 174px;
  margin-top: 7px;
  margin-left: 6px;
  position: absolute;
  border-radius: 50%;
  background-color: #FF0000;
}

.large-button {
  cursor: pointer;
  width: 200px;
  height: 190px;
  position: absolute;
  content: url("/assets/transparent_button_normal.png") url("/assets/transparent_button_pressed.png");
  background: url("/assets/transparent_button_normal.png") no-repeat;
}

.large-button:active {
  background: url("/assets/transparent_button_pressed.png") no-repeat;
}

.large-button-shadow {
  width: 200px;
  height: 190px;
  background: url("/assets/transparent_button_shadow.png") no-repeat;
}

.img-wololo {
  width: 300px;
  margin: 30px 0;
}

.page-header {
  border: none;
}

.page-header h1 {
  font-size: 4.2rem;
}

footer {
  padding: 2em 0;
}

footer p {
  margin: 2em 0;
}